# docker-compose.yml
version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: encrypt7744
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
